dn: automountMapName=auto_master,dc=themaw,dc=net
objectClass: top
objectClass: automountMap
automountMapName: auto_master

dn: description=/ldap, automountMapName=auto_master,dc=themaw,dc=net
objectClass: top
objectClass: automount
automountKey: /ldap
automountInformation: auto_indirect
description: /ldap

dn: description=/-,automountMapName=auto_master,dc=themaw,dc=net
objectClass: top
objectClass: automount
automountKey: /-
automountInformation: auto_direct
description: /-

